<p>
  <h1><%=@user.email.split(".").first%></h1>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  <h2>Feed</h2>
  <% @feed.each do |feed|  %>
      <li>
        <%= feed.email %>
        <br>
        <%= feed.message %>
        <br>
        <%= feed.updated_at %>
        <br>
        <br>
      </li>
  <% end %>
  <%= render 'follow_form' if !(@user.email.eql?(current_user.email)) %>
  <p><%= link_to "View all posts", posts_path %></p>
</p>