<p>
  <h1><%=@user.email.split(".").first%></h1>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  <h2>Posts</h2>
  <% @user.posts.each do |post|  %>
      <li>
        <%= post.message %>
      </li>

  <% end %>
  <%= render 'follow_form' if !(@user.email.eql?(current_user.email)) %>
  <p><%= link_to "Back to Posts", posts_path %></p>
</p>