<% @user ||= current_user %>
<div class="stats">
  <%= link_to "Following", following_user_path(@user) %>
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  <%= link_to "Followers", followers_user_path(@user) %>
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
</div>